.appointment {
   .doctor {
      padding-right: 30px;

      .doctor {
         width: 50%;
         justify-content: center;

         img {
            border-radius: 100%;
            width: 67px;
            height: 67px;
            object-fit: cover;
         }

         button {
            background: #E0773C;
            font-family: Segoe UI;
            font-size: 20px;
            font-weight: 900;
            line-height: 28px;
            text-align: left;
            color: white;
            border-radius: 8px;
            text-align: center;
            margin-right: 20px;
         }

         h6 {
            color: #e0773c;
            font-family: Segoe UI;
            font-size: 24px;
            font-weight: 700;
            line-height: 31.92px;
            text-align: center;
         }


         img {
            margin-right: 15px;
         }
      }

      .separation {
         width: 2px !important;
         height: 60%;
         background: #782c014a;
         border-radius: 50px;
      }

      .detail {
         .hour-meeting {
            background: #e0773c4a;
            border-radius: 6px;
            font-family: Roboto;
            font-size: 16px;
            font-weight: 500;
            line-height: 28px;
         }
      }

      .notice {
         textarea {
            border: 1px solid #e6e6e6;
            box-shadow: 0px 4px 4px 0px #00000040;
            background: #f9f9f9;
            border-radius: 19px;
            outline: none;
         }
      }

      h6 {
         font-family: Segoe UI;
         font-size: 20px;
         font-weight: 600;
         line-height: 26.6px;
         text-align: center;
      }

      .detail {
         img {
            border-radius: 100%;
            width: 50px;
            height: 50px;
            object-fit: cover;
         }
      }
   }
}